<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Acesso
</div>
<div class="description">
    Não corra o risco de perder sua conta. Associe outros serviços e guarde seu token em um local seguro.
</div>
<p>
    <div class="header">Acesso por Token</div>
    <code>Seu Token: {{ user.hacker_or_staff.token }}</code><br><a class="ui red button tiny" href="{% url 'main:change_token' %}">Trocar Token</a>
</p>
<p>
    <div class="header">Acesso pelo Facebook</div>
    <a href="{% if user.hacker_or_staff.has_fb_login %}{% url 'main:remove_facebook' %}{% else %}{% url 'main:facebook_login' %}{% endif %}" class="ui fb-login button">
        {% if user.hacker_or_staff.has_fb_login %}Desvincular Facebook{% else %}Vincular Facebook{% endif %}
    </a>
</p>
<p>
    <div class="header">Acesso pelo GitHub</div>
    <a href="{% if user.hacker_or_staff.has_gh_login %}{% url 'main:remove_github' %}{% else %}{% url 'main:github_login' %}{% endif %}" class="ui gh-login button">
        {% if user.hacker_or_staff.has_gh_login %}Desvincular GitHub{% else %}Vincular GitHub{% endif %}
    </a>
</p>
