<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Passe Microsoft Azure
</div>
<div class="description">
    Como participante do {{ hackathon_name }}, você tem direito a um passe para utilizar o Microsoft Azure de graça!<br>
    <b>Com esse passe você terá $100/mês durante 3 meses</b>
</div>
<p>
    <div class="small title">Seu passe:</div>
    <code>{{ user.hacker.azure_pass }}</code>
</p>
<p>
    <div class="small title">Instruções de ativação</div>
</p>

<div class="ui left aligned ordered list">
    <div class="item">Acesse: <a target="_blank" href="https://www.microsoftazurepass.com<">www.microsoftazurepass.com</a> </div>
    <div class="item">Siga os passos e ative com o código acima</div>
    <div class="item">Acesse o <a target="_blank" href="https://manage.windowsazure.com/">portal do Azure</a> para começar a utilizar os serviços</div>
</div>
