<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Dados e Recursos
</div>
<div class="description">
    Abaixo você encontrará uma lista de recursos disponívels para você durante o evento!
</div>
<div class="small title">
    Dados
</div>
<div class="description">
    Conheça todos os dados que nós oferecemos!
</div>
<a href="http://lampiao.ic.unicamp.br/transparencia/" class="ui default button">
    Ver Dados
</a>
<br>
<br>
<div class="small title">
    Eventos
</div>
<div class="description">
    Quer fazer algo com os dados mas não sabe como? Chances são de que nós temos uma palestra ou workshop ensinando!
</div>
<a href="{% url 'schedule:schedule' %}" class="ui default button">
    Ver eventos
</a>
