<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Avisos importantes!
</div>
<br>
<div class="ui container centered grid">
    <div class="column">
        <div class="ui left aligned bulleted list">
            <div class="item">O evento começa no dia 27/10 e vai até o dia 29/10</div>
            <div class="item"><b>O período de check-in é das 19 às 20:30 do dia 27/10.</b> Não aceitaremos hackers após esse horário</div>
            <div class="item">Fique de olho nessa página para novidades, especialmente depois do seu check-in</div>
            <div class="item">Não se esqueça de levar a sua identidade universitária(RA, número USP, etc). Vamos verificar na entrada</div>
            <div class="item"><b>Precisamos de mentores e staff!</b> Se você conhece alguém que possa ter interesse em ser da equipe de mentores ou staff, peça que preencha <a target="_blank" href="https://goo.gl/forms/schXCqPgU4xnARGE3">esse forms</a> :)</div>
        </div>
    </div>
</div>
