<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Avisos importantes!
</div>
<br>
<div class="ui container centered grid">
    <div class="column">
        <div class="ui left aligned bulleted list">
            <div class="item">O evento começa no dia {{ hack_settings.hackathon_start }} e vai até o dia {{ hack_settings.hackathon_end }}</div>
            <div class="item"><b>O período de check-in é das 19 às 20:30 do dia {{ hack_settings.hackathon_start.day }}.</b> Não aceitaremos hackers após esse horário</div>
            <div class="item">Não se esqueça de levar a sua identidade universitária(RA, número USP, etc). Vamos verificar na entrada</div>
            <div class="item"><b>Se informe!</b> Leia as <a target="_blank" href="{{ rules }}">regras do evento e os critérios de avaliação!</a></div>
            <div class="item"><b>Não é de campinas?</b> <a href="mailto:{{ hackathon_email }}">Fale conosco</a>! Chances são que nós temos um ônibus saindo de graça da sua cidade pro evento</div>
        </div>
    </div>
</div>
