<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Lembretes
</div>
<div class="description">
    Criamos um mini-app pra você não esquecer de levar nada!<br>Salvamos seus itens em cookies, então eles não serão sincronizados entre navegadores<br>Clique nos itens para apagá-los/marcar como completos
</div>
<div class="ui container grid">
    <div class="sixteen centered wide column">
        <div id="list" class="ui relaxed divided list left aligned">
        </div>
    </div>
</div>
<br>
<div id="input" class="panel-body">
    <div class="ui input">
        <input name="add-to-list" type="text" placeholder="Adicionar item..." />
    </div>
    <button id="add" class="ui button blue"><i class="icon plus"></i>Adicionar!</button>
</div>
