<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Software de apoio
</div>
<div class="description">
    Preparamos algumas ferramentas para te ajudar ao longo de suas aventuras no {{ hackathon_name }}!
</div>
<div class="small title">
    Hack the Campus Helper
</div>
<div class="description">
    Precisa de ajuda? Temos diversos mentores à sua disposição! Acesse o nosso Helper e peça ajuda agora :)
</div>
<a target="_blank" href="{{ helper }}" class="ui blue button">
    Acessar Helper
</a>
<br>
<br>
<div class="small title">
    Hack the Campus Chat
</div>
<div class="description">
    Além de codagem e comida de graça, acreditamos que hackathons servem para fazer contatos e networking. Por isso, disponibilizamos uma plataforma completa de chat para você trocar ideias e planos de dominação mundial com outros hackers!
</div>
<a target="_blank" href="{{ chat }}" class="ui blue button">
    Acessar Chat
</a>
