<br>
<div class="ui divider"></div>
<br>
<div class="header divided title">
    Avisos importantes!
</div>
<br>
<div class="ui container centered grid">
    <div class="column">
        <div class="ui left aligned bulleted list">
            <div class="item">O período de check-in é das 15:30 às 16:30 do dia {{ hack_settings.hackathon_start }}.<b> Não aceite hackers após esse horário</b></div>
            <!-- <div class="item">Se você tiver dúvidas, procure Maronato ou Micael</div> -->
        </div>
    </div>
</div>
