{% extends "main/base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% include 'main/sidebar.html' %}
{% endblock %}
{% block extend_scripts %}
<script src="{% static 'main/js/jquery/js.cookie.js' %}"></script>
<script src="{% static 'main/js/sidebar.js' %}"></script>
<script src="{% static 'main/plugins/cookie_todo/js/script.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content">
    <div class="container">
        <div id="dashboard" class="page">
            <div class="divided title">
                Dashboard
            </div>
            <div class="ui stackable centered page grid">
                <div class="column">
                    <div class="ui status segment">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="ui small success message" ng-show="error">
                            {{ message | safe }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if user.is_hacker %}
                        <div class="small title">
                            Seu Status:
                        </div>
                        <br>
                        <div class="state {{ user.hacker.state.0 }}">
                            {{ user.hacker.state.1 }}
                        </div>

                        <div class="ui divider"></div>
                        {% endif %}

                        <div ng-if="user.profile.name.length > 0">
                            <p>
                                <strong>
                                    Olá, {% if user.is_hacker %}{{ user.hacker.first_name }}{% else %}{{ user.staff.first_name }}{% endif %}!
                                </strong>
                            </p>
                        </div>
                        <br>
                        {% if user.hacker.is_checkedin %}
                        <div class="description">
                            <p>
                                Que bom que pôde vir :)
                            </p>
                            <p>
                                Não esqueça de ler as <a target="_blank" href="{{ rules }}">regras do evento e os critérios de avaliação!</a>
                            </p>
                        </div>
                        {% include 'main/dash_sections/team.html' %}
                        {# {% include 'main/dash_sections/azure_info.html' %} #}
                        {% include 'main/dash_sections/data.html' %}
                        {% include 'main/dash_sections/software.html' %}
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}

                        {% if user.hacker.is_confirmed %}
                        <div class="description">
                            <p>Sua inscrição e aplicação estão completas</p>
                            <p>Agora é só ir pro {{ hackathon_name }}!</p>
                        </div>
                        {% include 'main/dash_sections/important_info.html' %}
                        {% include 'main/dash_sections/reminders.html' %}
                        {% include 'main/dash_sections/withdraw.html' %}
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}

                        {% if user.hacker.is_withdraw %}
                        <div class="description">
                            <p>
                                Você optou por se abster dessa edição do {{ hackathon_name }}.
                            </p>
                            <p>
                                <b>Você tem até o dia {{ hack_settings.confirmation }} para reativar sua aplicação.</b>
                            </p>
                            <a href="{% url 'hackers:toggle_withdraw' %}" class="ui blue button">
                                Mudei de ideia!
                            </a>
                        </div>
                        {% endif %}

                        {% if user.hacker.is_waitlist %}
                        <div class="description">
                            <p>
                                Atingimos o máximo de inscritos confirmados e você entrou para a fila de espera.
                            </p>
                            <p>
                                Te enviaremos um email caso abram vagas :)
                            </p>
                        </div>
                        {% include 'main/dash_sections/withdraw.html' %}
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}

                        {% if user.hacker.is_admitted %}
                        <div class="description">
                            <p>
                                Sua aplicação foi aceita!
                            </p>
                            <p>
                                <b>Atenção!</b> Você ainda precisa confirmar sua presença até o dia {{ hack_settings.confirmation }}.
                            </p>
                            <p>
                                <b>Não confirmar sua presença até esse dia significará a perda de seu lugar no evento!</b>
                            </p>
                            {% if user.hacker.application.bus_sp or user.hacker.application.bus_sc %}
                            {% if user.hacker.application.eligible_bus_spot %}
                            <p>
                                <b>Sua vaga no ônibus para o {{ hackathon_name }} estará garantida se você confirmar agora</b>
                            </p>
                            {% else %}
                            <p>
                                <b>Infelizmente não há mais vagas no ônibus para o {{ hackathon_name }} :(</b>
                            </p>
                            {% endif %}
                            {% endif %}
                            <a href="{% url 'hackers:confirm_presence' %}" class="ui blue button">
                                Confirmar presença!
                            </a>
                        </div>
                        {% include 'main/dash_sections/withdraw.html' %}
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}

                        {% if user.hacker.is_declined %}
                        <div class="description">
                            <p>
                                Agradecemos seu interesse pelo {{ hackathon_name }}, mas infelizmente sua aplicação foi recusada :(
                            </p>
                        </div>
                        {% endif %}

                        {% if user.hacker.is_submitted %}
                        <div class="description">
                            <p>
                                Sua aplicação foi enviada com sucesso!
                            </p>
                            <h3>Importante!</h3>
                            <p>
                                Toda nossa comunicação será feita por meio do email <i>{{ hackathon_email }}</i>. Garanta que nossos emails não cairão na caixa de spam!
                            </p>
                            <p>
                                <b>Você receberá uma mensagem assim que sua aplicação for avaliada.</b>
                                <br>
                                Caso ela seja aprovada, você ainda terá que <b>confirmar sua vaga</b> nessa página.
                            </p>
                        </div>
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}

                        {% if user.hacker.is_late %}
                        <div class="description">
                            <p>
                                <strong>Período de aplicação encerrado.</strong>
                            </p>
                            <p>
                                Não foi dessa vez, mas tem sempre a próxima!
                            </p>
                        </div>
                        {% endif %}

                        {% if user.hacker.is_unverified %}
                        <div class="description">
                            <p>
                                <strong>
                                    Você precisa confirmar seu email para completar sua aplicação.
                                </strong>
                            </p>
                            <p>
                                Enviamos um código de confirmação para <i>{{ user.hacker.email }}</i>. Use-o para atualizar sua aplicação.
                            </p>
                            <p>
                                <b>Você tem até o dia {{ hack_settings.registration_close }} para fazer isso.</b>
                            </p>
                            <a href="{% url 'main:send_verify_email' %}" class="ui blue button">
                                Reenviar email de confirmação.
                            </a>
                        </div>
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}

                        {% if user.hacker.is_incomplete %}
                        <div class="description">
                            <p>
                                <strong>
                                    Sua aplicação ainda está incompleta.
                                </strong>
                            </p>
                            <p>
                                É necessário completá-la para participar do {{ hackathon_name }}
                            </p>
                            <p>
                                <b>Você tem até o dia {{ hack_settings.registration_close }} para fazer isso.</b>
                            </p>
                            <a href="{% url 'hackers:application' %}" class="ui purple button">
                                Complete sua aplicação
                            </a>
                        </div>
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}

                        {% if user.is_staff_member %}
                        <div class="description">
                            <p>
                                Que bom que pôde vir :)
                            </p>
                        </div>
                        {% include 'main/dash_sections/staff_info.html' %}
                        {% include 'main/dash_sections/access.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var hacker_is_confirmed = "{{ request.user.hacker.is_confirmed }}";
</script>
{% endblock %}
