{% extends "main/base.html" %}
{% load staticfiles %}
{% block sidebar %}
{% include 'main/sidebar.html' %}
{% endblock %}
{% block extend_scripts %}
<script src="{% static 'main/js/sidebar.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="page">
            <div class="divided title">
                Aplicação
            </div>
            <div class="ui stackable page grid">
                <div class="column">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="ui small {{ message.tags }} message" ng-show="error">
                        {{ message | safe }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="ui form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="subheader">* Obrigatório</div>
                            <br />
                            <div class="divided title">Informações Básicas</div>
                            <div class="two fields">
                                <div class="field {% if formbasic.first_name.errors.as_text %}error{% endif %}">
                                    <label>{{ formbasic.first_name.label}}</label>
                                    <span style="color: red" class="small">{{ formbasic.first_name.errors.as_text }}</span>
                                    {{ formbasic.first_name }}
                                </div>
                                <div class="field {% if formbasic.last_name.errors.as_text %}error{% endif %}">
                                    <label>{{ formbasic.last_name.label}}</label>
                                    <span style="color: red" class="small">{{ formbasic.last_name.errors.as_text }}</span>
                                    {{ formbasic.last_name }}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field {% if formbasic.email.errors.as_text %}error{% endif %}">
                                    <label>{{ formbasic.email.label}}</label>
                                    <span style="color: red" class="small">{{ formbasic.email.errors.as_text }}</span>
                                    {{ formbasic.email }}
                                </div>
                                <div class="field {% if form.phone.errors.as_text %}error{% endif %}">
                                    <label>{{ form.phone.label}}</label>
                                    <span style="color: red" class="small">{{ form.phone.errors.as_text }}</span>
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field {% if form.age.errors.as_text %}error{% endif %}">
                                    <label>{{ form.age.label}}</label>
                                    <span style="color: red" class="small">{{ form.age.errors.as_text }}</span>
                                    {{ form.age }}
                                </div>
                                <div class="field {% if form.gender.errors.as_text %}error{% endif %}">
                                    <label>{{ form.gender.label}}</label>
                                    <span style="color: red" class="small">{{ form.gender.errors.as_text }}</span>
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field {% if form.shirt_size.errors.as_text %}error{% endif %}">
                                    <label>{{ form.shirt_size.label}}</label>
                                    <span style="color: red" class="small">{{ form.shirt_size.errors.as_text }}</span>
                                    {{ form.shirt_size }}
                                </div>
                                <div class="field {% if form.shirt_style.errors.as_text %}error{% endif %}">
                                    <label>{{ form.shirt_style.label}}</label>
                                    <span style="color: red" class="small">{{ form.shirt_style.errors.as_text }}</span>
                                    {{ form.shirt_style }}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field  {% if form.university.errors.as_text %}error{% endif %}">
                                    <label>{{ form.university.label }}</label>
                                    <select value='{{form.university.value}}' id="id_university" name="university" class="ui fluid search dropdown">
                                        <option value="">Digite sua Universidade</option>
                                        <option value="Unicamp">Unicamp</option>
                                        <option value="USP SP">USP SP</option>
                                        <option value="USP SC">USP SC</option>
                                        <option value="PUCCAMP">PUCCAMP</option>
                                        <option value="UFSCAR">UFSCAR</option>
                                        <option value="PUC SP">PUC SP</option>
                                        <option value="UNIFESP">UNIFESP</option>
                                    </select>
                                </div>
                                <div class="field {% if form.enroll_year.errors.as_text %}error{% endif %}">
                                    <label>{{ form.enroll_year.label}}</label>
                                    <span style="color: red" class="small">{{ form.enroll_year.errors.as_text }}</span>
                                    {{ form.enroll_year }}
                                </div>
                            </div>
                            <div class="two fields">
                                <div id="bus_sc_field" style="display: none;" class="field ui toggle checkbox {% if form.bus_sc.errors.as_text %}error{% endif %}">
                                    <span style="color: red" class="small">{{ form.bus_sc.errors.as_text }}</span>
                                    {{ form.bus_sc }}
                                    <label>{{ form.bus_sc.label | safe }}</label>
                                </div>
                                <div id="bus_sp_field" style="display: none;" class="field ui toggle checkbox {% if form.bus_sp.errors.as_text %}error{% endif %}">
                                    <span style="color: red" class="small">{{ form.bus_sp.errors.as_text }}</span>
                                    {{ form.bus_sp }}
                                    <label>{{ form.bus_sp.label | safe }}</label>
                                </div>
                            </div>
                            <br />
                            <div class="divided title">Logístico</div>
                            <div class="two fields">
                                <div class="field {% if form.diet.errors.as_text %}error{% endif %}">
                                    <label>{{ form.diet.label}}</label>
                                    <span style="color: red" class="small">{{ form.diet.errors.as_text }}</span>
                                    {{ form.diet }}
                                </div>
                                <div class="field {% if form.special_needs.errors.as_text %}error{% endif %}">
                                    <label>{{ form.special_needs.label}}</label>
                                    <span style="color: red" class="small">{{ form.special_needs.errors.as_text }}</span>
                                    {{ form.special_needs }}
                                </div>
                            </div>
                            <br />
                            <div class="divided title">Currículo</div>
                            <div class="two fields">
                                <div class="field {% if form.cv_type.errors.as_text %}error{% endif %}">
                                    <label>{{ form.cv_type.label}}</label>
                                    <span style="color: red" class="small">{{ form.cv_type.errors.as_text }}</span>
                                    {{ form.cv_type }}
                                </div>
                                <div class="field {% if form.cv.errors.as_text %}error{% endif %}">
                                    <label>{{ form.cv.label | safe}}</label>
                                    <span style="color: red" class="small">{{ form.cv.errors.as_text }}</span>
                                    <div class="ui input labeled">
                                        <div id="cv_label" class="ui label">
                                            http://
                                        </div>
                                        {{ form.cv }}
                                    </div>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field {% if form.cv2_type.errors.as_text %}error{% endif %}">
                                    <label>{{ form.cv2_type.label}}</label>
                                    <span style="color: red" class="small">{{ form.cv2_type.errors.as_text }}</span>
                                    {{ form.cv2_type }}
                                </div>
                                <div class="field {% if form.cv.errors.as_text %}error{% endif %}">
                                    <label>{{ form.cv2.label}}</label>
                                    <span style="color: red" class="small">{{ form.cv2.errors.as_text }}</span>
                                    <div class="ui input labeled">
                                        <div id="cv2_label" class="ui label">
                                            http://
                                        </div>
                                        {{ form.cv2 }}
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="divided title">Nos fale um pouco mais</div>
                            <div class="field {% if form.description.errors.as_text %}error{% endif %}">
                                <label>{{ form.description.label}}</label>
                                <span style="color: red" class="small">{{ form.description.errors.as_text }}</span>
                                {{ form.description }}
                            </div>
                            <div class="field {% if form.essay.errors.as_text %}error{% endif %}">
                                <label>{{ form.essay.label}}</label>
                                <span style="color: red" class="small">{{ form.essay.errors.as_text }}</span>
                                {{ form.essay }}
                            </div>
                            <br />
                            <div id="pop_target" class="divided title">Compras</div>
                            <div class="subheader">Os itens abaixo são opcionais e não são gratuitos. Estão disponíveis a preço de custo e são comprados sob demanda. Clique em seus nomes para obter mais informações.<br>Você deve pagar por eles em dinheiro no ato de check-in.<br>Não será necessário devolver após o evento</div>
                            <br />
                            <div class="two fields">
                                <div class="field ui toggle checkbox {% if form.sleeping_bag.errors.as_text %}error{% endif %}">
                                    <span style="color: red" class="small">{{ form.sleeping_bag.errors.as_text }}</span>
                                    {{ form.sleeping_bag }}
                                    <label>{{ form.sleeping_bag.label | safe}}</label>
                                </div>
                                <div class="field ui toggle checkbox {% if form.pillow.errors.as_text %}error{% endif %}">
                                    <span style="color: red" class="small">{{ form.pillow.errors.as_text }}</span>
                                    {{ form.pillow }}
                                    <label>{{ form.pillow.label | safe}}</label>
                                </div>
                            </div>

                            <br>
                            <div class="ui divider"></div>
                            <br>
                            <div class="field">
                                <button type="submit" class="fluid ui purple button">
                                    Submeter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#sleeping').popup({
        position : 'bottom center',
        on: 'click',
        target   : '#pop_target',
        html  : '<h4>Saco de Dormir (R$ 70)</h4><p>Saco de dormir para passar a noite no evento</p><p>Será semelhante a <a href="https://goo.gl/y7SYfH" target="_blank">esse</a></p><p>Valor final pode variar um pouco com disponibilidade e a diferença será cobrada/devolvida</p>'});
    $('#pillow').popup({
        position : 'bottom center',
        on: 'click',
        target   : '#pop_target',
        html  : '<h4>Travesseiro (R$ 35)</h4><p>Travesseiro para usar como travesseiro ou almofada</p><p>Será semelhante a <a href="https://goo.gl/P5wN7Q" target="_blank">esse</a></p><p>Valor final pode variar um pouco com disponibilidade e a diferença será cobrada/devolvida</p>'});

    $('.why').popup({
        position : 'bottom center',
        on: 'hover',
        title   : 'Transporte?',
        content : 'Estamos oferecendo transporte gratuito da sua cidade para o {{ hackathon_name }} e de volta. As vagas são limitadas e serão atribuídas por ordem cronológica de envio da aplicação, portanto só declare que precisa de transporte se realmente precisar.'
    });

    var ll = {
        "GH": "github.com/",
        "WS": "https://",
        "LI": "linkedin.com/in/",
        "OT": "https://"
    }
    function change_cv_option(cv) {
        if (cv == 0) {
            cv_id_select = '#id_cv_type';
            cv_label_select = '#cv_label';
        }
        else {
            cv_id_select = '#id_cv2_type';
            cv_label_select = '#cv2_label';
        }
        if ($(cv_id_select).val() == '') {
            $(cv_label_select).parent().removeClass('labeled');
            $(cv_label_select).removeClass('ui label');
            $(cv_label_select).text('');
        }
        else {
            $(cv_label_select).addClass('ui label');
            $(cv_label_select).parent().addClass('labeled');
            $(cv_label_select).text(ll[$(cv_id_select).val()]);
        }
    }

    $("#id_cv_type").change(function () {
        change_cv_option(0);
    })
    $("#id_cv2_type").change(function () {
        change_cv_option(1);
    })

    $(document).ready(function() {
        change_cv_option(0);
        change_cv_option(1);
    })
    var pre_bus_sp = '{{ form.bus_sp.value }}';
    var pre_bus_sc = '{{ form.bus_sc.value }}';
    $('#id_university').dropdown({
        allowAdditions: true,
        onChange: function(value) {
            $("#bus_sc_field").hide();
            $("#bus_sc_field").checkbox('uncheck');
            $("#bus_sp_field").hide();
            $("#bus_sp_field").checkbox('uncheck');
            if (value == 'USP SC' || value == 'UFSCAR') {
                $("#bus_sc_field").show();
                if (pre_bus_sc == 'True') {
                    $("#bus_sc_field").checkbox('check');
                    pre_bus_sc = 'False'
                }
            }
            if (value == 'USP SP') {
                $("#bus_sp_field").show();
                if (pre_bus_sp == 'True') {
                    $("#bus_sp_field").checkbox('check');
                    pre_bus_sp = 'False'
                }
            }
        }});
    if ("{{ form.university.value }}" != "None")
        $('#id_university').dropdown("set selected", "{{ form.university.value }}");
</script>
{% endblock %}
